# Visual Studio stuff
obj
bin
packages
*.suo
*.userprefs*
voorhees.sln.DotSettings.user

# reports
bench/BenchmarkDotNet.Artifacts

# editors
.vscode
.idea

# unity
*.meta

# temp files
*~
*.swp

# Mac crap
.DS_Store

